<Settings ExportDate="2025-10-27T08:31:35.740" Version="SelprofAgent_5.50.1 (2025-10-23 16:49)" ExportedBy="2BA">
  <SelectionProfile>
    <ProfileID>639795A8-ACC4-4F21-B14B-117FD1B88ACE</ProfileID>
    <UserID>0006D3FB-D409-EA11-80E2-00155D1BC800</UserID>
    <Description>DirectProfile van Celsis (SA_MF)</Description>
    <ExportFormat>PAB200</ExportFormat>
    <ExportComplete>1</ExportComplete>
    <RunDate>2025-10-28T00:00:00</RunDate>
    <PreviousRunDate>2004-01-01T00:00:00</PreviousRunDate>
    <Recurrence>0</Recurrence>
    <ExportSchedule>CUST_DAY</ExportSchedule>
    <CustomPeriod>0</CustomPeriod>
    <DaysToExport>5</DaysToExport>
    <MonthsToExport>0</MonthsToExport>
    <ExportMutationsSince>2004-01-01T00:00:00</ExportMutationsSince>
    <ExportNumber>2</ExportNumber>
    <NotifyOnNoData>1</NotifyOnNoData>
    <MailWhenFinished>1</MailWhenFinished>
    <SendCCTo />
    <DateCreated>2025-10-27T08:31:22.027</DateCreated>
    <DateLastChange>2025-10-27T08:31:22.027</DateLastChange>
    <UserLastChange />
    <InfoLastChange />
    <CompressionMethod>BZip2ZIP</CompressionMethod>
    <SelectionMethod>SA_MF</SelectionMethod>
    <OnlyActualPrices>0</OnlyActualPrices>
    <ExportArtToKo>1</ExportArtToKo>
    <ExportDataToFolders>0</ExportDataToFolders>
    <ProfileActive>0</ProfileActive>
    <ProcessedBy />
    <ReadOnly>1</ReadOnly>
    <InactiveReason />
    <ProfilePriority>100</ProfilePriority>
    <LockedBy>SELPROFAGENT:VITEX_DBR2</LockedBy>
    <MasterProfile />
    <IncreaseCouplingPercentage>1</IncreaseCouplingPercentage>
    <UseStagingData>0</UseStagingData>
    <CoupleRecords>*;</CoupleRecords>
    <IncludeAttachments>1</IncludeAttachments>
    <FilterTradeItemsCoupledToDummyProducts>0</FilterTradeItemsCoupledToDummyProducts>
    <AllowStatus130PAB2>0</AllowStatus130PAB2>
    <ETIMPublicationType>2</ETIMPublicationType>
    <ExportEtimFillindications>0</ExportEtimFillindications>
    <ExportRefurbished>1</ExportRefurbished>
    <ExportUsed>1</ExportUsed>
    <ExportResidualMaterial>1</ExportResidualMaterial>
    <ExportDummyProductsAndUnmaintainedData>0</ExportDummyProductsAndUnmaintainedData>
    <ProfileRows NumberOfRows="1">
      <ProfileRow>
        <SelectionProfileRowID>C1A56C51-33EB-478E-BE3C-E9CBEE88ACF2</SelectionProfileRowID>
        <Description>GLN: 8712423016927 (ALL) A</Description>
        <GLNSupplier>8712423016927</GLNSupplier>
        <ArticleCodeSupplier />
        <DiscountGroupSupplier />
        <GroupIDSupplier />
        <CustomPropertyValue />
        <GLNManufacturer />
        <BrandNameManufacturer />
        <ProductClassManufacturer />
        <ProductSeriesManufacturer />
        <ProductTypeManufacturer />
        <ProductCodeManufacturer />
        <InverseRowSelection>0</InverseRowSelection>
        <RowAdded>2025-10-27T08:31:22.497</RowAdded>
        <RowEdited>2025-10-27T08:31:22.497</RowEdited>
        <AssortmentType>OLD</AssortmentType>
        <DownloadRowCompleteViaFile />
        <LineType>0</LineType>
      </ProfileRow>
    </ProfileRows>
  </SelectionProfile>
  <RunParameters>
    <SequenceNumber>251027083135813</SequenceNumber>
  </RunParameters>
</Settings>